<footer class="footer mt-auto py-3 d-flex flex-column align-items-center">

  <div class="row links-row">

    <div class="text-links-container links1-container d-flex flex-column justify-content-center col col-sm-10 col-md-6 col-lg-4">
      <div class="center-me">
        <h5 class="footer-heading">Subsection1</h5>
        <a class="nav-link" href="#">First Link</a>
        <a class="nav-link" href="#">Second Link</a>
        <a class="nav-link" href="#">Third Link</a>
        <a class="nav-link" href="#">Fourth Link</a>
      </div>
    </div>
    <div class="text-links-container links1-container d-flex flex-column justify-content-center col col-sm-10  col-md-6 col-lg-4">
      <div class="center-me">
        <h5 class="footer-heading">Subsection2</h5>
        <a class="nav-link" href="#">Fifth Link</a>
        <a class="nav-link" href="#">Sixth Link</a>
        <a class="nav-link" href="#">Seventh Link</a>
        <a class="nav-link" href="#">Eighth Link</a>
    </div>
    </div>
    <div class="text-links-container links1-container d-flex flex-column justify-content-center col col-sm-10  col-md-6 col-lg-4">
      <div class="center-me">
        <h5 class="footer-heading">Subsection3</h5>
        <a class="nav-link" href="#">Ninth Link</a>
        <a class="nav-link" href="#">Tenth Link</a>
        <a class="nav-link" href="#">Eleventh Link</a>
        <a class="nav-link" href="#">Twelfth Link</a>
      </div>
    </div>
  </div>

  <div class="footer-social-media row d-flex flex-column">
    <div class="social-media-container d-flex flex-column">
      <ul class="nav navbar footbar">
        <li class="nav-item "><a class="nav-link" href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
        <li class="nav-item "><a class="nav-link" href="http://facebook.com"><i class="fab fa-facebook-f"></i></a></li>
        <li class="nav-item "><a class="nav-link" href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
        <li class="nav-item "><a class="nav-link" href="http://linkedin.com"><i class="fab fa-linkedin-in"></i></a>
      </ul>
    </div>
  </div>

  <p class="copyright-notice ">&copy <span id="year"></span> Health Blog</p>

</footer>

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>