<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="geo.region" content="IE-D" />
    <meta name="geo.placename" content="Dublin" />
    <meta name="geo.position" content="53.349765;-6.260273" />
    <meta name="ICBM" content="53.349765, -6.260273" />
    <meta name=”keywords” content=”healthblog, health, blog, health blog, nutrition, medicine, healthy living” />
    <script src="https://kit.fontawesome.com/c0a1ec8650.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css"> 
    
    <title><%= title %></title>
</head>