<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<main>
    <div class="post">
        
    </div>
</main>


<%- include('./partials/footer.ejs') %>

<%- include('./partials/scripts.ejs') %>

</body>
</html>